../../node_modules/
../../vendor/
../../resources/dist/
../../resources/**/*.snap
../../build/
../../.phpunit.cache/
../../.phpunit.result.cache/
../../coverage/
../../*.min.js
../../*.min.css
../../package-lock.json
../../composer.lock

